body {
    background: #0d0d0d;
    color: #00ffea;
    font-family: "Courier New", monospace;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 32px;
    color: #00eaff;
}

.controls {
    text-align: center;
    margin-bottom: 25px;
}

button {
    background: #00333a;
    color: #00ffe0;
    border: 1px solid #00ffe0;
    padding: 12px 25px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #005c63;
}

.status {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.box {
    background: #101820;
    padding: 15px 25px;
    border: 1px solid #0099aa;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}

.box h3 {
    margin-bottom: 10px;
}

.light {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.green {
    background: #00ff00;
}

.red {
    background: #ff0033;
}

.section-title {
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
    color: #00f0ff;
}

.log-box {
    background: black;
    padding: 15px;
    border: 1px solid #009292;
    height: 350px;
    overflow-y: scroll;
    white-space: pre-line;
    font-size: 14px;
}
